*{
    margin-inline: auto;
    padding: 0;
    box-sizing: border-box;
}

body{
 background-color: #0D192C;
  font-family: 'Outfit', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
    width: 350px;
    height: 596px;
    border-radius: 15px;
    background-color: #15263F;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.nft-image {
    width: 302px;
    height: 302px;
    border-radius: 8px;
    object-fit: cover;
    align-self: center;
}

.text-content h4 {
   font-size: 22px;
   font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 12px;
}
.text-content p {
    font-size: 18px;
    font-weight: 300;
    color: #8BACD9;
    margin-bottom: 24px;
    line-height: 26px;
}

.bottom-row {
width: 301px;
height: 20px;
display: flex;
gap: 8px;
}

.nft-details {
    width: 302px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.nft-details img {
    width: 11px;
    height: 18px;
    margin: 0;
    padding: 0;
}

.nft-details span {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
    color: #00FFF8;
}

.nft-author {
    width: 230px;
    height: 33px;
    margin: 0;
    padding: 0;
    display: flex;
<<<<<<< HEAD
    gap: 8px;
=======
>>>>>>> 0f005544913cd53dace9e88a0ea22353ee03493c
    }

.price-divider {
    width: 100%;
    height: 1px;
    background-color: #2E405A;
}

<<<<<<< HEAD
.bottom-row {
    width: 301px;
    height: 33px;
    display: flex;
    gap: 8px ;
}

.bottom-row img {
  width: 33px;
  height: 33px;
=======
.bottom-row img {
  width: 33px;
  height: 33px;
  border: 1px solid white;
  border-radius: 50%;
>>>>>>> 0f005544913cd53dace9e88a0ea22353ee03493c
}

.bottom-row span {
    font-size: 18px;
    font-weight: 600;
    color: #00FFF8;
<<<<<<< HEAD
=======
    margin-left: 8px;
>>>>>>> 0f005544913cd53dace9e88a0ea22353ee03493c
    vertical-align: middle;
}

.nft-author p {
    font-size: 14px;
    color: #8BACD9;
    line-height: 1.2;
}

.nft-author p span {
    color: white;
    font-weight: 600;
}

